.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* ビューポート全体 */
  background-size: cover;
  background-position: center;
  transition: opacity 1s ease-in-out; /* 画像切り替え時のフェードイン/フェードアウト */
  opacity: 0; /* 初期状態で非表示 */
}

.visible {
  opacity: 1; /* 次の画像が表示される際に不透明にする */
}

.hidden {
  opacity: 0; /* 現在の画像を非表示にする */
}
